/*******************************
Responsive Sandboxie stylesheet
    Created by Robert Spier
*******************************/

/* Normal style */

body {
	/* Verander deze kleur als je een andere achtergrondkleur voor je pagina wilt */
	background-color: #FFFFFF;
	margin: 0;
	height: auto;
	overflow: auto;
	font-family: sans-serif;
}

main {
	height: auto;
}

#image section {
	width: 100%;
	margin: auto;
	text-align: center;
}

#image section {
	display: none;
}

img {
	width: 100%;
	max-width: 100%;
}

.text {
	display: flex;
	justify-content: center;
	flex-flow: column nowrap;
	padding: 1em;
	text-align: left;
}

h1,
h3 {
	margin-top: 0;
}

h3 {
	margin-bottom: .25em;
}

.image {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* grid positions */
#responsive main {
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax(20em, 1fr));
}

#mobile main {
	display: grid;
	grid-template-columns: 1fr;
}

#tablet main {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#desktop main {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* < 20em view */
@media (max-width: 319px) {
 	#image #small {
    	display: block;
    	background-color: #EEE;
  	}

  	#image #small img {
  		width: 100%;
  	}
}

/* Mobile view - 20em */
@media (min-width: 320px) and (max-width: 639px) {
 	#image #mobile {
    	display: block;
  	}

  	#image #mobile img {
  		min-width: 320px;
  	}
}

/* Tablet view 40em */
@media (min-width: 640px) and (max-width: 1279px) {
 	#image #tablet {
    	display: block;
	}

  	#image #tablet img {
  		min-width: 640px;
  	}
}

/* Desktop view  80em */
@media (min-width: 1280px) {
 	#image #desktop {
    	display: block;
	}

  	#image #desktop img {
  		min-width: 1280px;
  	}
}