/* Responsive Sandboxie stylesheet
 * Created by Robert Spier 
 */

/* Normal style */

body {
	/* Default is white, change in the background color of your website if neccesary */
	background-color: #FFFFFF;
	margin: 0;
	height: auto;
	overflow: auto;
}

main {
	height: auto;
}

section {
	width: 100%;
	margin: auto;
	text-align: center;
}

section {
	display: none;
}

img {
	max-width: 100%;
}

/* < 20em view */
@media (max-width: 319px) {
 	#small {
    	display: block;
    	background-color: #EEE;
  	}

  	#small img {
  		width: 100%;
  	}
}

/* Mobile view - 20em */
@media (min-width: 320px) and (max-width: 639px) {
 	#mobile {
    	display: block;
  	}

  	#mobile img {
  		width: 320px;
  	}
}

/* Tablet view 40em */
@media (min-width: 640px) and (max-width: 1279px) {
 	#tablet {
    	display: block;
	}

  	#tablet img {
  		width: 640px;
  	}
}

/* Desktop view  80em */
@media (min-width: 1280px) {
 	#desktop {
    	display: block;
	}

  	#desktop img {
  		width: 1280px;
  	}
}