:root {
	--border-color: #AAA;
	--bg-color: #DDD;
	--subtle-bg-color: #EEE;
}

* {
	box-sizing: border-box;
}

body {
	background: white;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

h1 {
	margin-top: .25em;
}
h3 {
	margin-top: 0;
}

h3 {
	margin-bottom: .25em;
}

img {
	width: 100%;
	max-width: 100%;
}

main {
	width: 100%;
	height: 100%;
}

.is-responsive main section {
	display: grid;
}

main section {
	grid-template-columns: repeat( auto-fit, minmax(15em, 1fr));
	grid-auto-flow: dense;
	grid-gap: .5em;
	border: 5px dashed var(--border-color);
	background-color: var(--bg-color);
	width: 100%;
	min-height: 4em;
	margin-bottom: .25em;
	padding-left: .25em;
	padding-right: .25em;

}

#menu {
	position: fixed;
	bottom: 1em;
	right: 1em;
	background: var(--bg-color);
	padding: 1em;
}


#switcher {
	position: fixed;
	bottom: 1em;
	left: 1em;
	background: var(--bg-color);
	padding: 1em;
}


#menu article {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: move;
	width: 3rem;
	height: 3rem;
	background: rebeccapurple;
	color: white;
	border: 1px dashed red;
	margin-bottom: .25rem;
	font-size: .9em;
}

#menu article *:not(.preview) {
	display: none;
}

#menu article button {
	display: none;
}

main article,
main ul {
	position: relative;
	background: var(--subtle-bg-color);
}

main article .preview {
	display: none;
}

main article button {
	display: none;
	position: absolute;
	top: .25em;
	right: .25em;
}

main article:hover button,
main article button:hover,
main article:active button,
main article button:active,
main article:focus button,
main article button:focus  {
	display: inline-block;
}

.tekst {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}

.image {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}

.image img {
	padding: 2em;
}

.footer ul {
	display: flex;
	flex-flow: column nowrap;
}

.is-responsive footer ul {
	flex-flow: row wrap;
}

.footer li {
	list-style: none;
}

.footer ul {
	margin: 0;
	padding: 1em;
}

.cta {
	display: flex;
	justify-content: center;
	align-items: center;
}

.cta a {
	background: rebeccapurple;
	color: white;
	border-radius: 3px;
	padding: .5em 1em;
	text-decoration: none;
	margin-top: 1em;
	margin-bottom: 1em;
}

nav {
	display: flex;
	flex-flow: row nowrap;
}

nav ul {
	display: none;
	flex-flow: row wrap;
	padding-left: 1em;
}

nav a {
	margin-left: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	display: flex;
	align-items: center;
}

@media screen and (min-width: 55em) {
	nav ul {
		display: flex;
	}

	nav a {
		display: none;
	}
}

nav rect {
	fill: rebeccapurple;
}

nav li {
	list-style: none;
	text-transform: uppercase;
	background: rebeccapurple;
	padding: 1em 2em;
	color: white;
}

nav li:not(:last-of-type) {
	margin-right: 1em;
}

.red {
	background: red;
}

.green {
	background: green;
}

.blue {
	background: blue;
}

.yellow {
	background: yellow;
}